#include "/home/oxide/themes/pepper"
Xft.dpi: 120
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.rgba:       rgb
Xft.lcdfilter:  lcddefault
Xft.autohint:   0
! X colors.

! Black color that will not be affected by bold highlighting.
*.color66: #070708
*color66:  #070708

! Xclock colors.
XClock*foreground: #a8a7ab
XClock*background: #070708
XClock*majorColor:  rgba:a8/a7/ab/ff
XClock*minorColor:  rgba:a8/a7/ab/ff
XClock*hourColor:   rgba:a8/a7/ab/ff
XClock*minuteColor: rgba:a8/a7/ab/ff
XClock*secondColor: rgba:a8/a7/ab/ff

! Set depth to make transparency work.
URxvt*depth: 32


*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0: base00
*color1: base08
*color2: base0B
*color3: base0A
*color4: base0D
*color5: base0E
*color6: base0C
*color7: base05

*color8:  base03
*color9:  base09
*color10: base01
*color11: base02
*color12: base04
*color13: base06
*color14: base0F
*color15: base07


! ------------------------------------------------------------------------------
! rofi
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.theme: pepper

rofi.color-window:    base00 , base00 , base00 , base00 , base03
rofi.color-normal:    base00 , base03 , base00 , base00 , base07
rofi.color-active:    base03 , base0E , base00 , base0B , base00
rofi.color-urgent:    base00 , base03 , base00 , base00 , base03

